.diffListRoot {
  margin-top: 64px;
}

.icon {
  max-width: 50px;
  height: auto;
}

.smallIcon {
  max-width: 35px;
  height: auto;
}

.questMarker {
  height: 1px;
}

.objectives {
  min-width: 300px;
}

.topLevelDiff {
  margin-bottom: 64px;

  h3,
  h4 {
    margin: 8px 0;
  }

  h3 {
    margin-top: 32px;
  }
}

.secondLevelDiff {
  margin-bottom: 32px;
}

.screenshotPreview {
  display: block;
  height: 50px;
}

.childList {
  // padding-left: 16px;
  padding: 0;
  margin: 0;
}

.childItem {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bold {
  font-weight: bold;
}

.rowHeading {
  font-weight: 600;
}

.faded {
  opacity: 0.7;
}

.chevronSeperator {
  display: inline-block;
  margin-left: 0.75ch;
  margin-right: 0.75ch;
}

.inlineList {
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    list-style: none;

    &:after {
      content: ", ";
      display: inline-block;
      margin-right: 0.5ch;
    }

    &:last-of-type:after {
      content: "";
    }
  }
}

.spaceBetweenAbove {
  & + & {
    margin-top: 16px;
  }
}

.codeSnippet {
  margin-bottom: 0;
}

.shrink {
  content: "shrink";
}
