.subItems {
  margin-left: 16px;
}

.item {
  padding: 2px 8px 2px 0;
  display: block;
  color: inherit;
  text-decoration: none;
  display: flex;

  &:hover {
    // background: var(--border-color);
    .name {
      text-decoration: underline;
    }
  }
}

.topItem {
  composes: item;
  font-weight: 500;
}

.subItem {
  composes: item;
  padding-left: 16px;
  margin-left: 16px;
  border-left: 1px solid var(--border-color);
}

.name {
  flex: 1 1 auto;
  text-transform: capitalize;
  margin-right: 8px;
}

.topItem + .subItem {
  padding-top: 0;
  margin-top: 4px;
}

.subItem + .topItem {
  margin-top: 32px;
}

.otherTables {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid var(--border-color);
}

.countCell {
  padding-left: 0.75ch !important;
  text-align: right;
  font-variant-numeric: tabular-nums;
  font-size: 0.9em;
}

.countCellAdded {
  composes: countCell;
  color: #66bb6a; // todo: variable, also in VersionDiffSummary
}

.countCellRemoved {
  composes: countCell;
  color: #ef5350; // todo: variable, also in VersionDiffSummary
}

.countCellUnclassified {
  composes: countCell;
  color: #2196f3; // todo: variable, also in VersionDiffSummary
}

.countCellReclassified {
  composes: countCell;
  color: #ef5350; // todo: variable, also in VersionDiffSummary
}

.otherTablesTable {
  width: 100%;
  margin-bottom: 32px;
  border-collapse: collapse;
  margin-left: 16px;
  margin-top: 4px;
  border-left: 1px solid var(--border-color);

  td {
    padding: 0;
  }

  td:first-of-type {
    width: 100%;
    max-width: 0;
  }
}

.otherTableName {
  composes: topItem;

  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  padding: 0;
  padding-left: 16px;

  &:hover {
    text-decoration: underline;
  }
}
