.diffListRoot {
  margin-top: 64px;
}

.icon {
  max-width: 50px;
  height: auto;
}

.smallIcon {
  max-width: 35px;
  height: auto;
}

.shrink {
  width: 1%;
}

.table {
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;

  thead {
    font-weight: bold;
    white-space: nowrap;
  }

  & > thead > tr > td,
  & > tbody > tr > td {
    border-bottom: 1px solid;
    border-color: var(--alt-color);
    padding: 4px 8px;
    vertical-align: top;
  }

  td.mainColumn {
    width: 99%;
  }

  & > tbody > tr:hover > td {
    background: var(--hover-color);
  }
}

.tableHeader {
  position: sticky;
  top: 93px;
  background: var(--bg-color-alpha-75);
  backdrop-filter: blur(10px);
}

.nowrap {
  white-space: nowrap;
}

.prewrap {
  white-space: pre-wrap;
}

.topLevelDiff {
  margin-bottom: 64px;

  h3,
  h4 {
    margin: 8px 0;
  }

  h3 {
    margin-top: 32px;
  }
}

.secondLevelDiff {
  margin-bottom: 32px;
}

.screenshotPreview {
  display: block;
  height: 50px;
}

table + .groupTitle {
  margin-top: 32px;
}

.childList {
  padding-left: 16px;
}

.childItem {
  list-style: none;
}

.bold {
  font-weight: bold;
}

.rowHeading {
  font-weight: 600;
}

.faded {
  opacity: 0.7;
}

.chevronSeperator {
  display: inline-block;
  margin-left: 0.75ch;
  margin-right: 0.75ch;
}

.inlineList {
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    list-style: none;

    &:after {
      content: ", ";
      display: inline-block;
      margin-right: 0.5ch;
    }

    &:last-of-type:after {
      content: "";
    }
  }
}

.spaceBetweenAbove {
  & + & {
    margin-top: 16px;
  }
}

.codeSnippet {
  margin-bottom: 0;
}
