.icon {
  width: 50px;
  height: auto;
}

.table {
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;

  thead {
    font-weight: bold;
    white-space: nowrap;
  }

  td {
    border-bottom: 1px solid;
    border-color: var(--alt-color);
    padding: 5px;
    width: 1%;
    vertical-align: top;
  }

  td.mainColumn {
    width: 99%;
  }

  tr:hover {
    td {
      background: var(--hover-color);
    }
  }
}

.nowrap {
  white-space: nowrap;
}

.prewrap {
  white-space: pre-wrap;
}

.topLevelDiff {
  margin-bottom: 64px;

  h3,
  h4 {
    margin: 8px 0;
  }

  h3 {
    margin-top: 32px;
  }
}

.secondLevelDiff {
  margin-bottom: 32px;
}

.screenshotPreview {
  height: 50px;
}
