.icon {
  width: 50px;
  height: auto;
}

.table {
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;

  thead {
    font-weight: bold;
    white-space: nowrap;
  }

  td {
    border-bottom: 1px solid rgba(white, 0.1);
    padding: 5px;
    width: 1%;
    vertical-align: top;
  }

  td.mainColumn {
    width: 99%;
  }
}

.nowrap {
  white-space: nowrap;
}

.prewrap {
  white-space: pre-wrap;
}
