.root {
  margin: 32px;
  margin-top: 0;
}

.versionList {
  display: inline-block;
}

.pagination {
  display: flex;
  gap: 16px;
}

.paginationLink {
  color: inherit;
  text-decoration: none;
  display: flex;
  gap: 0.5ch;
  align-items: center;

  span {
    text-decoration: underline;
  }
}

.secretPaginationLink {
  composes: paginationLink;
  opacity: 0;
  transition: opacity 150ms ease-in-out;

  &:hover {
    opacity: 1;
  }
}
