.root {
  margin: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--alt-color);
}

.title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.4;
}

.breadcrumbs {
  display: flex;
  align-items: center;
}

.childCrumb {
  font-size: 20px;
}

.seperator {
  margin: 0 1em;
}
