.root {
  padding: 32px;
  padding-bottom: 0;
  margin-bottom: 32px;
  background: var(--bg-color-alpha-75);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 10;
}

.title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.4;
}

.breadcrumbs {
  display: flex;
  align-items: center;

  border-bottom: 1px solid var(--border-color);
  padding-bottom: 32px;
}

.childCrumb {
  font-size: 20px;
}

.seperator {
  margin: 0 1em;
}
