.itemSummary {
  display: flex;
}

.itemSummaryWell {
  flex: 0 0 50px;

  img {
    width: 100%;
    height: auto;
  }
}

.itemSummaryMain {
  margin-left: 8px;
}

.description {
  white-space: pre-line;
}

.name {
  font-weight: 600;
  font-size: 1.1em;
}

.itemType {
  font-size: 0.9em;
  opacity: 0.9;
  display: inline-block;
  padding-left: 1ch;

  &:before {
    content: "//";
    padding-right: 1ch;
  }
}
