.itemSummary {
  display: flex;
}

.itemSummaryWell {
  flex: 0 0 50px;

  img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    object-position: center;
  }
}

.itemSummaryMain {
  margin-left: 8px;
}

.description {
  white-space: pre-line;
  // font-size: 0.9em;
  margin-top: 0;
  line-height: 1.2;
  margin-top: 0.5em;
}

.name {
  font-weight: 600;
  // font-size: 1.1em;
}

.itemType {
  // font-size: 0.9em;
  opacity: 0.9;
  display: inline-block;
  padding-left: 1ch;

  &:before {
    content: "//";
    padding-right: 1ch;
  }
}

.tag {
  font-size: 0.9em;
  background: var(--alt-color);
  padding: 3px 8px;
  border-radius: 100px;
  margin-left: 16px;
  display: inline-block;
  line-height: 1;
  border: 1px solid transparent;

  &[data-tag="Dummy"] {
    background: #e74c3c;
  }

  &[data-tag="Kinetic"] {
    background: var(--inverted-bg-color-transparent);
  }

  &[data-tag="Arc"] {
    background: #76b6e2;
    color: black;
  }

  &[data-tag="Solar"] {
    background: #f0631e;
  }

  &[data-tag="Void"] {
    background: #b185df;
  }

  & + & {
    margin-left: 8px;
  }
}

.emptyTag {
  composes: tag;
  background: none;
  border: 1px solid var(--alt-color);
  margin-top: -2px;
}
