@import "../styles/type.scss";

$dark: #121212;
$light: #f8f8f8;

:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);

  --color-added: #66bb6a;
  --color-removed: #ef5350;
  --color-modified: #2196f3;
  --color-unclassified: rgb(68, 200, 175);
  --color-reclassified: #8875a2;

  --site-padding: 32px;
}

.dark {
  --bg-color: #{$dark};
  --bg-color-alpha-75: #{rgba($dark, 0.75)};
  --bg-color-alpha-25: #{rgba($dark, 0.6)};

  --text-color: #{$light};
  --text-fade-color: #cacaca;
  --hover-color: #{rgba($light, 0.047)};

  --border-color: #{rgba($light, 0.188)};
  --alt-color: var(--border-color);

  --inverted-bg-color-transparent: #{rgba($light, 0.251)};
  --contrast-bg: #{rgba($light, 0.075)};
}

.light {
  --bg-color: #{$light};
  --bg-color-alpha-75: #{rgba($light, 0.75)};

  --text-color: #{$dark};
  --text-fade-color: #{rgba($dark, 0.8)};
  --hover-color: #{rgba($dark, 0.047)};

  --border-color: #{rgba($dark, 0.188)};
  --alt-color: var(--border-color); // don't use this any more?

  --inverted-bg-color-transparent: #{rgba($dark, 0.251)};
  --contrast-bg: #{rgba($dark, 0.1)};
}

@font-face {
  font-family: "Destiny Symbols";
  src: url("../public/destiny_symbols_pc.otf");
  unicode-range: U+E000-F8FF;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Inter", "Destiny Symbols", sans-serif;
  overflow-x: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
}

:target {
  scroll-margin-top: 105px;
}

.color-added {
  color: var(--color-added);
}
.color-removed {
  color: var(--color-removed);
}
.color-modified {
  color: var(--color-modified);
}
.color-unclassified {
  color: var(--color-unclassified);
}
.color-reclassified {
  color: var(--color-reclassified);
}

// body {
//   padding-top: 80vh;
// }

// body > * {
//   background: var(--bg-color);
// }
