@import "../styles/type.scss";

/* Dark mode */
:root {
  --bg-color: #121212;
  --text-color: #fafafa;
  --alt-color: #fafafa30;
  --hover-color: #fafafa0c;

  --inverted-bg-color-transparent: #fafafa40;
}

// /* Light mode */
// :root {
//   --bg-color: #fafafa;
//   --text-color: #121212;
//   --alt-color: #12121230;
//   --hover-color: #1212120c;

//   --inverted-bg-color-transparent: #12121230;
// }

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
}
