@import "../styles/type.scss";

$dark: #121212;
$light: #fafafa;

.dark {
  --bg-color: #{$dark};
  --bg-color-alpha-75: #{rgba($dark, 0.75)};
  --bg-color-alpha-25: #{rgba($dark, 0.6)};

  --text-color: #{$light};
  --hover-color: #{rgba($light, 0.047)};

  --border-color: #{rgba($light, 0.188)};
  --alt-color: var(--border-color);

  --inverted-bg-color-transparent: #{rgba($light, 0.251)};
}

.light {
  --bg-color: #{$light};
  --bg-color-alpha-75: #{rgba($light, 0.75)};

  --text-color: #{$dark};
  --hover-color: #{rgba($dark, 0.047)};

  --border-color: #{rgba($dark, 0.188)};
  --alt-color: var(--border-color); // don't use this any more?

  --inverted-bg-color-transparent: #{rgba($dark, 0.251)};
}

@font-face {
  font-family: "Destiny Symbols";
  src: url("../public/destiny_symbols_pc_bl.otf");
  unicode-range: U+E000-F8FF;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Inter", "Destiny Symbols", sans-serif;
  overflow-x: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
}
