.root {
  --header-padding-v: 24px;
  --header-padding-h: var(--site-padding);

  padding: 0 var(--header-padding-h);
  margin-bottom: 32px;
  background: var(--bg-color-alpha-75);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 10;
}

.rootInner {
  border-bottom: 1px solid var(--border-color);
  padding: var(--header-padding-v) 0;
}

.title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.4;
}

