.socketCategory {
  margin-bottom: 40px;
}

.socketCategoryName {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 16px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--border-color);
  // max-width: 800px;
}

.largePerkList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 704px;
}

.horizontalSockets {
  display: flex;
  // gap: 24px;
}

.horizontalSocketsContainer {
  container-type: size;
}

.smallPerkList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;

  // &::after {
  //   content: "";
  //   display: bock;
  //   width: 1px;
  //   height: 16px;
  //   background: white;
  //   right: -12px;
  //   top: 0;
  //   position: absolute;
  // }

  &:not(:first-of-type) {
    margin-left: 16px;
    padding-left: 16px;
    border-left: 1px solid rgba(248, 248, 248, 0.08);
  }
}
