.version {
  font-size: 16px;

  & + & {
    margin-top: 96px;
  }
}

.versionTitle:before {
  content: " ";
  display: block;
  width: 2.5ch;
  height: 0.15em;
  background: currentColor;
  margin-bottom: 0.5em;
}

.subtitle {
  margin-bottom: 8px;
  margin-top: 20px;
}

.table {
  margin: -5px;
  margin-bottom: 16px;

  td {
    padding: 4px;
  }
}
