.markerContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.base {
  width: 10px;
  display: block;
  flex-grow: 1;
  align-self: center;
}

.start {
  composes: base;
  border-top: 2px solid var(--inverted-bg-color-transparent);
  border-left: 2px solid var(--inverted-bg-color-transparent);
  margin-top: 10px;
}

.mid {
  composes: base;
  border-left: 2px solid var(--inverted-bg-color-transparent);
  height: calc(100% + 9px);
  flex: 0 0 auto;
  position: relative;
  top: -9px;
}

.end {
  composes: base;
  border-bottom: 2px solid var(--inverted-bg-color-transparent);
  border-left: 2px solid var(--inverted-bg-color-transparent);
  max-height: calc(50% + 9px);
  position: relative;
  top: -9px;
}
