.table {
  margin: -5px;

  thead {
    font-weight: bold;
  }

  // tbody td:first-of-type {
  //   font-weight: bold;
  // }

  td {
    padding: 4px;
  }
}

.junkRow {
  opacity: 0.5;
}

.zeroNumber {
  opacity: 0.25;
}
