.table {
  margin: -5px;

  thead {
    font-weight: bold;
  }

  // tbody td:first-of-type {
  //   font-weight: bold;
  // }

  td {
    padding: 4px;
  }
}

.junkRow {
  opacity: 0.5;
}

.zeroNumber {
  opacity: 0.25;
}

.numberAdded {
  color: #66bb6a; // todo: variable, also in IndexTable
}

.numberRemoved {
  color: #ef5350; // todo: variable, also in IndexTable
}

.numberModified,
.numberUnclassified {
  color: #2196f3; // todo: variable, also in IndexTable
}

.numberReclassified {
  color: #ef5350; // todo: variable, also in IndexTable
}
