.table {
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;

  thead {
    font-weight: bold;
    white-space: nowrap;
  }

  & > thead > tr > td,
  & > tbody > tr > td {
    border-bottom: 1px solid;
    border-color: var(--alt-color);
    padding: 4px 8px;
    vertical-align: top;
  }

  td.mainColumn {
    width: 99%;
  }

  & > tbody > tr:hover > td {
    background: var(--hover-color);
  }
}

.tableHeader {
  position: sticky;
  top: 93px;
  background: var(--bg-color-alpha-75);
  backdrop-filter: blur(10px);
}

.nowrap {
  white-space: nowrap;
}

.prewrap {
  white-space: pre-wrap;
}

.shrink {
  width: 1%;
}
