.root {
  margin: 32px;
  display: grid;
  grid-template-columns: 1fr 280px;
  gap: 32px;
}

.pageTitle {
  margin-top: 0;
}

.versionId {
  font-family: monospace;
  font-weight: normal;
}

.stickySide {
  position: sticky;
  top: 109px;

  max-height: 100vh;
  overflow: auto;
  padding-right: 16px;
}

.stickySide::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
  margin-top: 10px;
}

.stickySide::-webkit-scrollbar-thumb {
  background-color: var(--alt-color);
  border-radius: 2.5px;
}
